* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  color: #757575;
  font-weight: 400;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
}

a {
  color: #7476bb;
  text-decoration: none;
}

h3 {
  font-weight: lighter;
  text-transform: uppercase;
}

p {
  font-size: 0.8em;
}

::placeholder {
  font-size: 0.8em;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: #7476bb;
}
header .icon {
  position: relative;
  height: 70%;
  margin: auto 0;
  padding-right: 1em;
  border-right: 1px solid black;
}
header .icon img {
  margin-top: 10px;
}
header img {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 1em;
}
header .icon::after {
  content: " ";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: lightgreen;
  position: absolute;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 36px;
}
header h1 {
  font-weight: bold;
  padding-left: 15px;
  margin-right: auto;
  margin-top: auto;
  color: white;
  font-size: 1.3em;
}
header h1 span {
  font-weight: 300;
}
header h1::after {
  content: "TM";
  font-size: 0.3em;
  font-weight: lighter;
  position: absolute;
}
header h3 {
  font-size: 0.7em;
  font-weight: lighter;
  color: white;
  margin: auto 0;
  padding: 3px 20px 0 5px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: #4e4d70;
}
nav a {
  width: 65px;
  margin: 0 15px;
  height: auto;
  padding: 20px;
}
nav .nav-selected {
  border-bottom: 4px solid lightgreen;
}
nav .nav-selected img {
  filter: opacity(100%);
}
nav img {
  width: 100%;
  padding-bottom: 0;
  filter: opacity(50%);
}

.grid-container {
  width: 100%;
  height: 100%;
}

.dashboard {
  display: flex;
  justify-content: flex-start;
  background-color: #fafafa;
  height: 60px;
  grid-column: 1/3;
  grid-row: 1/2;
}
.dashboard .d-container {
  background-color: white;
  margin-right: auto;
  border-right: 1px solid #ccc;
}
.dashboard .d-container h2 {
  margin: 15px;
  padding: 5px;
  color: #757575;
}
.dashboard .d-search {
  background-color: #fafafa;
}
.dashboard .d-search input {
  width: 300px;
  height: 40px;
  float: right;
  margin: 10px 20px;
  padding-left: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.alert-container {
  grid-column: 1/3;
  grid-row: 2/3;
  background-color: white;
  margin: -1px;
}
.alert-container .alert {
  height: 30px;
  background-color: yellow;
  margin: 20px;
  border-radius: 6px;
}

.traffic {
  grid-column: 1/3;
  grid-row: 3/4;
  padding: 0 20px;
  background-color: white;
}
.traffic .t-header {
  display: flex;
  justify-content: space-between;
}
.traffic .t-header h3 {
  text-transform: uppercase;
  color: #757575;
}

.t-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.t-nav-link {
  padding: 10px;
  color: #757575;
  font-weight: bold;
}

.active {
  color: white;
  background-color: lightgreen;
  border-radius: 10px;
}

.widget-container-full {
  background-color: yellow;
  height: 300px;
  margin: 20px 0;
}

.daily-traffic, .mobile-users {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  background-color: white;
}
.daily-traffic h3, .mobile-users h3 {
  color: #757575;
  margin: 30px 0 10px;
}
.daily-traffic .widget-container-half, .mobile-users .widget-container-half {
  background-color: yellow;
  margin-bottom: 40px;
}

.social-stats {
  grid-column: 1/3;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 20px;
  background-color: white;
}
.social-stats h3 {
  display: block;
  width: 100%;
  font-weight: lighter;
  color: #757575;
  text-transform: uppercase;
}

.social-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 30%;
  max-width: 230px;
  min-width: 180px;
  height: 80px;
  margin: 20px 10px;
  background-color: #fafafa;
}

.social-container:last-child {
  margin-right: 0;
}

.social-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.social-text p:nth-of-type(1) {
  color: #7476bb;
  font-weight: bolder;
}
.social-text p:nth-of-type(2) {
  font-size: 2em;
  font-weight: lighter;
}

.social-img {
  width: 50px;
  margin: 14px;
}

.social-icons {
  fill: white;
  width: 100%;
  height: 100%;
  background-color: #7476bb;
  border-radius: 50%;
}

.new-members {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
}
.new-members h3 {
  color: #757575;
  text-transform: uppercase;
  font-weight: lighter;
  margin-bottom: 20px;
}

.members-container {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ccc;
  padding: 7px 0;
  height: 50px;
}
.members-container a {
  font-size: 0.8em;
}
.members-container p {
  align-self: center;
  margin-left: auto;
}

.members-container:last-child {
  border-bottom: none;
}

.profile-image {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 7px;
}

.recent-activity {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
}
.recent-activity h3 {
  color: #757575;
  text-transform: uppercase;
  font-weight: lighter;
  margin-bottom: 20px;
}

.message-user {
  grid-column: 1/2;
  background-color: white;
}
.message-user h3 {
  color: #757575;
  text-transform: uppercase;
  font-weight: lighter;
  padding: 20px 0 10px 20px;
}
.message-user form {
  border-style: none;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-content: space-around;
}
.message-user form input, .message-user form textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fafafa;
}
.message-user form input {
  height: 35px;
  padding-left: 10px;
  margin: 15px 0;
}
.message-user form input::placeholder, .message-user form textarea::placeholder {
  color: #c2c2c2;
}
.message-user form textarea {
  height: 100px;
  padding: 10px;
}
.message-user form button {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.7em;
  color: white;
  background-color: #7476bb;
  margin-top: 15px;
}

.settings {
  grid-column: 2/3;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.settings h3 {
  color: #757575;
  text-transform: uppercase;
  font-weight: lighter;
  padding: 20px 0 10px 20px;
}
.settings form {
  height: 100%;
  border-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-around;
  padding: 20px;
}
.settings .settings-input {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.settings select {
  width: 100%;
  height: 35px;
  color: #c2c2c2;
  max-width: 600px;
}
.settings select:first-child {
  font-size: 0.8em;
}
.settings .settings-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 600px;
  align-content: space-between;
}
.settings .settings-btn button {
  width: 45%;
  height: 35px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.7em;
  color: white;
  margin-top: 15px;
}
.settings .settings-btn button:nth-of-type(1) {
  background-color: #7476bb;
  margin-right: 5%;
}
.settings .settings-btn button:nth-of-type(2) {
  background-color: #c7c7c7;
  margin-left: 5%;
}

.switch {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 16px;
  margin-bottom: 30px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch p {
  width: 100%;
}

.slider {
  position: absolute;
  cursor: pointer;
  border-radius: 10px;
  width: 44px;
  top: 0;
  left: 150px;
  right: 0;
  bottom: 0;
  background-color: #c7c7c7;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  border-radius: 50%;
  left: 4px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #7476bb;
}

input:focus + .slider {
  box-shadow: 0 0 1px #7476bb;
}

input:checked + .slider:before {
  transform: translateX(23px);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

@media only screen and (min-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "header  header" "nav container";
  }

  header {
    position: fixed;
    z-index: 1000;
    grid-area: header;
  }

  .dashboard {
    margin-top: 60px;
  }

  nav {
    position: fixed;
    grid-area: nav;
    top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60px;
    height: 100vh;
    background-color: #4e4d70;
    float: left;
    overflow-x: hidden;
  }
  nav a {
    width: 65px;
    margin: 15px 0;
    height: auto;
    padding: 20px;
  }
  nav .nav-selected {
    border-left: 4px solid lightgreen;
    border-bottom: 0;
  }
  nav img {
    width: 100%;
    padding-bottom: 0;
    margin-left: -2px;
  }

  .grid-container {
    display: grid;
    grid-area: container;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1px;
    background-color: #ccc;
    float: right;
  }

  .social-stats {
    justify-content: space-around;
  }
}

/*# sourceMappingURL=main.css.map */
