
// -----------SASS VARIABLES----------- //

$accent-color-light-purple: #7476bb;
$accent-color-dark-purple: #4e4d70;

$accent-color-grey: #fafafa;

$line-color: #ccc;

$color-font-1: #757575;




// -----------MAIN STYLES----------- //

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: $color-font-1;
  font-weight: 400;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
}

a{
  color:$accent-color-light-purple;
  text-decoration: none;
}

// -----------HEADER----------- //

header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: $accent-color-light-purple;

  .icon{
    height: 70%;
    margin: auto 0;
    padding-right: 1em;
    border-right: 1px solid black;

    img{
      margin-top:10px;
    }

  }

  img{
   width: 1.5em;
   height: 1.5em;
   border-radius: 50%;
   margin-top: 20px;
   margin-left: 1em;
 }

 h1{
   font-weight: bold;
   padding-left: .4em;
   margin-right: auto;
   margin-top: auto;
   color: white;
   font-size: 1.3em;

   span{
     font-weight: 400;
   }
 }

 h1::after{
   content:"TM";
   font-size: .3em;
   font-weight: lighter;
   position: absolute;
 }

 h3{
   font-size: .7em;
   font-weight: lighter;
   color: white;
   margin: auto 0;
   padding: .4em;
 }
}

// -----------NAVIGATION----------- //

nav{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: $accent-color-dark-purple;


  a{
    width: 30px;
    margin: 15px;
    height: auto;
    padding: 5px;
  }

  img{
    width: 100%;
    padding-bottom: 0;
  }
}

// -----------GRID----------- //

.grid-container{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(7,1fr);

}

// -----------DASHBOARD----------- //

.dashboard{
  display: flex;
  justify-content: flex-start;
  height: 60px;
  grid-column: 1/3;
  grid-row: 1/2;

  h2{
    margin: 15px;
    padding: 5px;
    color: $color-font-1;
  }

  .d-search{
    background-color: $accent-color-grey;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-left: 30px;

      input{
        width: 300px;
        height: 40px;
        float: right;
        margin: 10px 20px;
        padding-left: 10px;
        border-radius: 6px;
        border: 1px solid $line-color;
      }
   }
}

// -----------ALERT----------- //

.alert{
  grid-column: 1/3;
  grid-row: 2/3;
  height: 30px;
  background-color: yellow;
  margin: 0 20px;
  border-radius: 6px;
}

// -----------TRAFFIC----------- //

.traffic{
  grid-column: 1/3;
  grid-row: 3/4;
  margin: 20px;

    .t-header{
      display: flex;
      justify-content: space-between;

        h3{
          text-transform: uppercase;
          color: $color-font-1 ;
        }
    }
}

.t-nav{
  display: flex;
  flex-direction: row;
  list-style: none;
}

.t-nav-link{
  padding: 10px;
  color: $color-font-1;
  font-weight: bold;
}

.active{
  color: white;
  background-color: lightgreen;
  border-radius: 10px;
}

.widget-container-full{
  background-color: yellow;
  height: 300px;
  margin: 20px 0;
}

// -----------DAILY TRAFFIC & MOBILE USERS----------- //

.daily-traffic, .mobile-users{
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  padding: 0 20px;
  border: 1px solid $line-color;


    h3{
      color: $color-font-1;
      margin: 30px 0 10px;
    }

    .widget-container-half{
      background-color: yellow;
      margin-bottom: 40px;
    }
}

// -----------SOCIAL STATS----------- //

.social-stats{
  grid-column: 1/3;
  height: 200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 20px;

    h3{
      display: block;
      width: 100%;
      color: $color-font-1;
      text-transform: uppercase;
    }
}

.social-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid $line-color;
  border-radius: 6px;
  width: 30%;
  max-width: 230px;
  height: 80px;
  margin: 0 auto;
  background-color: $accent-color-grey;


}

.social-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;


  p:nth-of-type(1){
    color:$accent-color-light-purple;
    font-weight: bolder;
  }

  p:nth-of-type(2){
    font-size: 2em;
    font-weight: lighter;
  }
}


.social-img{
  width: 80px;
  margin: auto;
}

.social-icons{
  fill: white;
  width: 60%;
  height: 60%;
  background-color: $accent-color-light-purple;
  border-radius: 50%;
}


// -----------NEW MEMBERS----------- //

.new-members{
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  margin: 30px 0 10px 20px;
  border: 1px solid $line-color;
  padding: 20px 20px 20px 0;
    h3{
      color: $color-font-1;
      text-transform: uppercase;
      font-weight: lighter;
      margin-bottom: 20px;
    }
}

.members-container{
  display:flex;
  flex-direction: row;
  border-bottom: 1px solid $line-color;
    a{
    font-size: .8em;
    }
}

.profile-image{
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
}

// -----------RECENT ACTIVITY----------- //

.recent-activity{
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  margin: 30px 0 10px 0;
  border: 1px solid $line-color; // BORDERS WITH GRID NOT ON SEPARATE ELEMENTS
  padding: 20px 20px 20px 0;
  h3{
    color: $color-font-1;
    text-transform: uppercase;
    font-weight: lighter;
    margin-bottom: 20px;
  }
}

// -----------MESSAGE USER----------- //

.message-user{
  grid-column: 1/2;

    form{
        border-style: none;
        display: flex;
        flex-direction: column;
          legend h3{
            color: $color-font-1;
            text-transform: uppercase;
            font-weight: lighter;
          }
          input, textarea{
            width: 100%;
            border: 1px solid $line-color;
            border-radius: 5px;
            background-color: $accent-color-grey;

          }
          input{
            height: 35px;
            padding-left: 10px;
            margin: 15px 0;
          }
          input::placeholder, textarea::placeholder{
            color: lighten($color-font-1,30%);
          }
          textarea{
            height: 100px;
            padding: 10px;
          }
          button{
            width: 100%;
            height: 35px;
            border-radius: 5px;
            text-transform: uppercase;
            font-weight: bold;
            font-size: .7em;
            color: white;
            background-color: $accent-color-light-purple;
            margin: 15px 0 40px 0;
          }
        }

  }

// -----------SETTINGS----------- //

.settings{
  grid-column: 2/3;
  form{
      border-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
        legend{
          display: block;
          margin-right: auto;
           h3{
              color: $color-font-1;
              text-transform: uppercase;
              font-weight: lighter;
            }
        }

        .test{

          margin: 15px 0 30px;
          label{
            //display: inline-block;
            float: left;
            clear: left;
          }
          input{
            //display: inline-block;
            float: right;
            clear: right;
          }
        }

      select{
        width: 100%;
        height: 35px;
        color: lighten($color-font-1,30%);
        max-width: 400px;
      }
      button{

        width: 45%;
        height: 35px;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: .7em;
        color: white;
      }
      button:nth-of-type(1){
        background-color: $accent-color-light-purple;
        margin: 20px 15px 40px 0;

      }
      button:nth-of-type(2){
        background-color: darken($accent-color-grey,20%);
        margin: 20px 0 40px 20px;
      }
    }
}



// -----------PSEUDO CLASSES----------- //

input:focus,
select:focus,
textarea:focus,
button:focus{
  outline: none;
}

// -----------MEDIA QUERIES----------- //

 @media only screen and (min-width: 768px){

   nav{
     display:inline-flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
     width: 5em;
     height: 100vh;
     background-color: #4e4d70;
     padding: 20px;

     a{
       width: 70%;
     }

     img{
       margin: 0 auto;
       width: 100%;
       padding-bottom: 40px;
     }
   }

 }
